<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>

    <!-- Un condicional de headers -->

    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <!-- #nota: Imprimir dato contador -->
    
    <main class="container main-container">
      <ol class="list-group list-group-numbered">
        <% for( let i = 0; i < peliculas.length; i++ ) { %>
          <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                  <div class="fw-bold"><a href="/movies/detalle/<%= peliculas[i].id %>"><%= peliculas[i].title %></a></div>
                    <%= peliculas[i].release_date %>
                  </div>
              <span class="badge bg-primary rounded-pill"><%= peliculas[i].rating %></span>
                  <div>
                    <a class="btn btn-primary m-2"  href="/movies/update/<%= peliculas[i].id %> ">Modificar</a>
                  </div>
                  <form action="/movies/delete" method="POST">
                      <input type="text" hidden name="id" id="" value="<%= peliculas[i].id %>">
                    <input class="btn btn-danger m-2" type="submit" value="Eliminar">
                    </form>
          </li>
        <% } %>
      </ol>
    </main>
  </body>
</html>
